@import "../../../node_modules/bootstrap/scss/bootstrap";

body {
  &,
  #app,
  #app > div {
    @extend .h-100;
  }
}

.page-header {
  margin-bottom: 30px;
}

.action-buttons {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
}

#header-main {
  margin-bottom: 30px;
}
#footer-main {
  background-color: #f5f5f5;
}